/****************************************************************************


toolPlugin.RC

produced by Borland Resource Workshop


*****************************************************************************/

#include <windows.h>


IDD_EDIT2BOX DIALOG 0, 0, 240, 120
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_CONTEXTHELP
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
{
 CONTROL "OK", 1, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 96, 50, 14
 CONTROL "Cancel", 2, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 120, 96, 50, 14
 CONTROL "Frame1", 101, "STATIC", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 4, 4, 232, 112
 CONTROL "Text1", 102, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 9, 224, 13
 CONTROL "Edit1", 110, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 132, 36, 64, 13
 CONTROL "Edit2", 111, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 132, 60, 64, 13
 CONTROL "Text2", 105, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 12, 36, 116, 9
 CONTROL "Text3", 106, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 12, 64, 116, 9
 CONTROL "Frame2", 107, "STATIC", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 12, 78, 212, 4
 CONTROL "Frame3", 108, "STATIC", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 12, 22, 212, 4
}


IDD_EDITBOX DIALOG 0, 0, 240, 66
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_CONTEXTHELP
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
{
 CONTROL "OK", 1, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 186, 48, 50, 14
 CONTROL "Cancel", 2, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 128, 48, 50, 14
 CONTROL "Frame1", 101, "STATIC", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 4, 16, 228, 28
 CONTROL "Text1", 102, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 4, 228, 8
 CONTROL "Edit1", 110, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 8, 24, 216, 14
}


IDD_LISTBOX DIALOG 0, 0, 163, 180
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_CONTEXTHELP
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
{
 CONTROL "OK", 1, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 104, 164, 50, 14
 CONTROL "Cancel", 2, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 48, 164, 50, 14
 CONTROL "Frame1", 101, "STATIC", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 4, 16, 156, 144
 CONTROL "Text1", 102, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 4, 156, 8
 CONTROL "ListBox1", 103, "LISTBOX", LBS_STANDARD | LBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 20, 148, 140
}


IDD_MULTIBOX DIALOG 0, 0, 163, 180
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_CONTEXTHELP
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
{
 CONTROL "OK", 1, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 104, 164, 50, 14
 CONTROL "Cancel", 2, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 48, 164, 50, 14
 CONTROL "Frame1", 101, "STATIC", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 4, 16, 156, 144
 CONTROL "Text1", 102, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 4, 156, 8
 CONTROL "ListBox1", 103, "LISTBOX", LBS_STANDARD | LBS_MULTIPLESEL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 20, 148, 140
}

