/****************************************************************************


paltool.rc

produced by Borland Resource Workshop


*****************************************************************************/

#include <ptDefines.h>


IDD_PALTOOL DIALOGEX -1, 2, 389, 286
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_CONTEXTHELP
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Paltool v2.0"
FONT 8, "MS Sans Serif", 400, 0
{
 CONTROL "", IDC_SURFACE, "static", SS_ETCHEDFRAME | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 12, 2, 364, 158, 0
 CONTROL "TabControl1", IDC_TABCONTROL, "SysTabControl32", WS_CHILD | WS_VISIBLE, 12, 164, 364, 104, 0
}

IDM_MENU MENU 
{
 POPUP "&File"
 {
  MENUITEM "&Open",     IDM_OPEN
  MENUITEM "&Save",     IDM_SAVE
  MENUITEM "Save &As",  IDM_SAVE_AS
  MENUITEM SEPARATOR
  MENUITEM "&Open Pmp",     IDM_OPEN_MAP
  MENUITEM "&Save Pmp",     IDM_SAVE_MAP
  MENUITEM "Save &As Pmp", IDM_SAVE_AS_MAP
  MENUITEM SEPARATOR
  MENUITEM "E&xit",     IDM_EXIT
 }

 POPUP "&Help"
 {
  MENUITEM "&About", 903
 }

}


IDD_SHADEHAZE DIALOGEX 5, 20, 354, 82
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CAPTION
CAPTION "Shade/Haze"
FONT 8, "MS Sans Serif"
{
 CONTROL "Levels", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 4, 28, 9, 0
 CONTROL "Gama", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 56, 24, 9, 0
 CONTROL "Haze", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 40, 24, 9, 0
 CONTROL "Shade", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 24, 24, 9, 0
 CONTROL "%Max", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 68, 4, 24, 9, 0
 CONTROL "", IDC_PROGRESS, "msctls_progress32", WS_CHILD | WS_VISIBLE | WS_BORDER, 116, 56, 232, 17, 0
 CONTROL "Apply Selection", IDC_APPLY, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 116, 4, 68, 16, 0
 CONTROL "32", IDC_SHADE_LEVELS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 36, 24, 28, 12, 0
 CONTROL "32", IDC_HAZE_LEVELS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 36, 40, 28, 12, 0
 CONTROL "1.0", IDC_GAMMA, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 36, 56, 28, 12, 0
 CONTROL "100", IDC_SHADE_MAX, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 68, 24, 28, 12, 0
 CONTROL "100", IDC_HAZE_MAX, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 68, 40, 28, 12, 0
 CONTROL "Frame1", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 8, 15, 88, 1, 0
 CONTROL "Use LUV", IDC_USE_LUV, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 280, 41, 46, 14, 0
 CONTROL "Show Haze", IDC_DO_HAZE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 280, 28, 64, 9, 0
 CONTROL "Show Shade", IDC_DO_SHADE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 280, 19, 64, 9, 0
 CONTROL "Generate Tables", IDC_GENERATE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 116, 28, 68, 17, 0
 CONTROL "  ", IDC_RGB, "static", SS_CENTER | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 280, 4, 68, 12, 0
 CONTROL "Haze", IDC_EDIT_HAZE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 208, 12, 56, 9, 0
 CONTROL "Shade", IDC_EDIT_SHADE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 208, 4, 56, 9, 0
 CONTROL "View Mode", IDC_VIEW, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 208, 42, 56, 9, 0
 CONTROL "Haze Color", IDC_EDIT_HAZE_TO, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 208, 20, 56, 9, 0
 CONTROL "RGB Match", IDC_EDIT_RGB_MATCH, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 208, 28, 56, 9, 0
}


IDD_ABOUT DIALOGEX 2, 10, 130, 33
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CAPTION
CAPTION "About"
FONT 20, "Arial", 700, 1
{
 CONTROL "Paltool v2.0", -1, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 36, 8, 56, 8, 0
}



