//
// fetool.rc
//

#include "defines.h"

MainMenu MENU 
{
 POPUP "&File"
 {
  MENUITEM "&New",               IDM_FILE_NEW
  MENUITEM "&New Windows Font...", IDM_FILE_NEW_WINDOWS
  MENUITEM SEPARATOR
  MENUITEM "&Open...",           IDM_FILE_OPEN
  MENUITEM "&Save",              IDM_FILE_SAVE
  MENUITEM "Save &As...",        IDM_FILE_SAVEAS
  MENUITEM SEPARATOR
  MENUITEM "Insert Bitmaps...",  IDM_FILE_INSERT_BMP
  MENUITEM "Export Bitmap Array...", IDM_FILE_EXPORT_PBA
  MENUITEM SEPARATOR
  MENUITEM "Import Bitmap Sheet...",  IDM_FILE_IMPORT_BMP_SHEET
  MENUITEM "Export Bitmap Sheet...",  IDM_FILE_EXPORT_BMP_SHEET
  MENUITEM SEPARATOR
  MENUITEM "Load Palette...",    IDM_FILE_OPEN_PAL
  MENUITEM SEPARATOR
  MENUITEM "E&xit",              IDM_FILE_EXIT
 }

 POPUP "&Edit"
 {
  MENUITEM "Cu&t \tCtrl-X",      IDM_EDIT_CUT
  MENUITEM "&Copy \tCtrl-C",     IDM_EDIT_COPY
  MENUITEM "&Paste Before\tCtrl-V",    IDM_EDIT_PASTE
  MENUITEM "P&aste After \tCtrl-A",   IDM_EDIT_APPEND
  MENUITEM SEPARATOR
  MENUITEM "&Delete \tDEL",      IDM_EDIT_DELETE
  MENUITEM SEPARATOR
  MENUITEM "&Add Space Character", IDM_EDIT_ADDSPACE
 }

 POPUP "&Preview"
 {
  MENUITEM "&Clear Text", IDM_PREVIEW_CLEAR
  MENUITEM SEPARATOR
  MENUITEM "TEXT_LEFT",      IDM_PREVIEW_TEXT_LEFT
  MENUITEM "TEXT_RIGHT",     IDM_PREVIEW_TEXT_RIGHT
  MENUITEM "TEXT_CENTER_H",  IDM_PREVIEW_TEXT_CENTER_H
  MENUITEM "TEXT_CENTER_V",  IDM_PREVIEW_TEXT_CENTER_V
  MENUITEM "TEXT_TOP",       IDM_PREVIEW_TEXT_TOP
  MENUITEM "TEXT_BOTTOM",    IDM_PREVIEW_TEXT_BOTTOM
  MENUITEM "TEXT_FIT",       IDM_PREVIEW_TEXT_FIT
 }

 POPUP "&Window"
 {
  MENUITEM "Auto Tile",          IDM_WINDOW_AUTOTILE
 }

 POPUP "&Help"
 {
  MENUITEM "&About",             IDM_ABOUT
 }
}

AboutBox DIALOG 26, 24, 137, 104
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "About FontEdit"
FONT 8, "MS Sans Serif"
{
 CTEXT "FontEdit", -1, 20, 20, 94, 8
 CTEXT "Version 1.00 10/15/96", -1, 21, 63, 94, 8
// ICON  "BORLAND", -1, 59, 13, 18, 20
 PUSHBUTTON "OK", IDOK, 43, 84, 50, 14
 GROUPBOX "", -1, 27, 54, 124, 0, BS_GROUPBOX
 GROUPBOX "", -1, 10, 5, 117, 75, BS_GROUPBOX
}


