/****************************************************************************


stampTool.RC

produced by Borland Resource Workshop


*****************************************************************************/

#include "inspectDlg_def.h"

IDD_INSPECT_DLG DIALOG 0, 0, 128, 180
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "StampTool Inspector"
FONT 8, "MS Sans Serif"
{
 CONTROL "Tile Inspector", GRP_TILE_INSPECT, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 4, 120, 80
 CONTROL "-1", EDT_TILE_INDEX, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 36, 16, 80, 12
 CONTROL "Flip Y", CHK_FLIP_Y, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 56, 32, 8
 CONTROL "Rotate", CHK_ROTATE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 32, 40, 8
 CONTROL "Flip X", CHK_FLIP_X, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 44, 36, 8
 CONTROL "Stamp Inspector", GRP_STAMP_INSP, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 88, 120, 88
 CONTROL "Set Tile", BTN_TILE_APPLY, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 68, 60, 48, 16
 CONTROL "", EDT_DML_NAME, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP, 36, 120, 80, 12
 CONTROL "Set Stamp", BTN_STAMP_APPLY, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 68, 152, 48, 17
 CONTROL "0", EDT_CLAMP, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 36, 136, 80, 12
 CONTROL "TexID:", STC_TXT_1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 12, 20, 24, 9
 CONTROL "DML:", 101, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 12, 124, 24, 9
 CONTROL "Clamp:", STC_TXT_3, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 12, 140, 24, 8
 CONTROL "Flat", CHK_FLAT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 68, 32, 8
 CONTROL "Name:", IDC_STATICTEXT1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 12, 104, 24, 9
 CONTROL "", EDT_NAME, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP, 36, 100, 80, 12
}

IDM_MENU1 MENU 
{
 POPUP "&File"
 {
  MENUITEM "Open &DML", IDM_OPEN_DML
  MENUITEM "Open &Palette", IDM_OPEN_PAL
  MENUITEM SEPARATOR
  MENUITEM "&New", IDM_NEW_TS
  MENUITEM "&Open", IDM_OPEN_TS
  MENUITEM "&Save", IDM_SAVE_TS
  MENUITEM "Save &as... ", IDM_SAVE_AS_TS
  MENUITEM SEPARATOR
  MENUITEM "E&xit", IDM_EXIT
 }

 POPUP "&Edit"
 {
  MENUITEM "Cu&t", IDM_CUT
  MENUITEM "&Copy", IDM_COPY
  MENUITEM "&Paste", IDM_PASTE
 }

 POPUP "&Help"
 {
  MENUITEM "&About...", IDM_ABOUT
  MENUITEM SEPARATOR
  MENUITEM "&Help", IDM_HELP
 }

}


IDM_MENU1 ACCELERATORS 
{
 "X", IDM_CUT, VIRTKEY, CONTROL
 "C", IDM_COPY, VIRTKEY, CONTROL
 "V", IDM_PASTE, VIRTKEY, CONTROL
}

