#include "..\\inc\\tedresource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_TOOLBAR           BITMAP  MOVEABLE PURE   "Toolbar.bmp"

IDM_TEDMENU MENU 
{
 POPUP "&File"
 {
  MENUITEM "&New", TM_FILENEW
  MENUITEM "&Open...", TM_FILEOPEN
  MENUITEM "&Close", TM_FILECLOSE
  MENUITEM "&Save", TM_FILESAVE
  MENUITEM "Save &as...", TM_FILESAVEAS
  MENUITEM SEPARATOR
  MENUITEM "Load &Palette...", TM_FILELOADPALETTE
  MENUITEM "Load &Material List...", TM_FILELOADMATERIALLIST
  MENUITEM SEPARATOR
  MENUITEM "E&xit", TM_FILEEXIT
 }

 POPUP "&Edit"
 {
  MENUITEM "&Undo", TM_EDITUNDO
  MENUITEM "&Redo", TM_EDITREDO
  MENUITEM SEPARATOR
  MENUITEM "&Copy", TM_EDITCOPY
  POPUP "&Paste"
  {
   MENUITEM "&All", TM_EDITPASTEALL
   MENUITEM SEPARATOR
   MENUITEM "&Materials", TM_EDITPASTEMATERIALS
   MENUITEM "&Heights", TM_EDITPASTEHEIGHTS
  }

  MENUITEM SEPARATOR
  MENUITEM "C&lear Selection", TM_EDITCLEARSELECTION
  MENUITEM "&Float Selection", TM_EDITFLOATSELECTION
  MENUITEM SEPARATOR
  MENUITEM "&Name Selection...", TM_EDITNAMESELECTION
  MENUITEM "&Get Selection...", TM_EDITGETSELECTION
  MENUITEM "&Delete Selection...", TM_EDITDELETESELECTION
  MENUITEM SEPARATOR
  MENUITEM "&Save Selection...", TM_EDITSAVESELECTION
  MENUITEM "&Load Selection...", TM_EDITLOADSELECTION
 }

 POPUP "&Settings"
 {
  MENUITEM "&Misc...", TM_SETTINGSMISC
  MENUITEM "&Display...", TM_SETTINGSDISPLAY
 }

 POPUP "&Selection"
 {
  MENUITEM SEPARATOR
 }

 POPUP "&Values"
 {
  MENUITEM "&Adjust height...", TM_BRUSHVALUEADJUSTHEIGHT
  MENUITEM "&Set height...", TM_BRUSHVALUESETHEIGHT
  MENUITEM "&Material index...", TM_BRUSHVALUEMATERIALINDEX
  MENUITEM "&Flag mask...", TM_BRUSHVALUEFLAGMASK
  MENUITEM "&Paste mask...", TM_BRUSHVALUEPASTEMASK
  MENUITEM "S&cale value...", TM_BRUSHVALUESCALEFACTOR
  MENUITEM "&Terrain type...", TM_BRUSHVALUETERRAINTYPE
  MENUITEM "P&in detail level...", TM_BRUSHVALUEPINDETAIL
  MENUITEM "Pi&n detail max level...", TM_BRUSHVALUEPINDETAILMAX
  MENUITEM "Sm&ooth value...", TM_BRUSHVALUESMOOTH
 }

 POPUP "&Brush"
 {
  POPUP "&Detail level"
  {
   MENUITEM "", TM_BLANK
  }

  MENUITEM SEPARATOR
  MENUITEM "&Snap to Detail", TM_BRUSHSNAP
  MENUITEM "Auto &Feather", TM_BRUSHFEATHER
  MENUITEM SEPARATOR
  POPUP "&Left button"
  {
   MENUITEM "", TM_BLANK
  }

  POPUP "&Right button"
  {
   MENUITEM "", TM_BLANK
  }

 }

 POPUP "&Misc"
 {
  MENUITEM "&Landscaper...", TM_MISCLANDSCAPER
  MENUITEM "List &commands...", TM_MISCLISTCOMMANDS
  MENUITEM "&Clear Pin Maps", TM_MISCCLEARPINMAP
  MENUITEM "&Relight terrain", TM_MISCRELIGHT
  MENUITEM SEPARATOR
  MENUITEM "&About...", TM_MISCABOUT
 }

}

STRINGTABLE 
{
 IDT_SELECT, "Selection mode"
 IDT_ADJUSTHEIGHT, "Adjust height mode"
 IDT_SETHEIGHT, "Set height mode"
 IDT_PIN, "Pin terrain mode"
 IDT_ROTATE, "Rotation mode"
 IDT_SMOOTH, "Smooth terrain mode"
 IDT_SETTERRAINTYPE, "Set terrain type"
 TM_COMBOBOX, "Brush detail level"
 TM_FILEOPEN, "Open terrain file"
 TM_FILENEW, "Create new terrain file"
 TM_FILECLOSE, "Close terrain file"
 TM_FILESAVE, "Save terrqain file"
 TM_FILEEXIT, "Quit TED"
 TM_EDITUNDO, "Undo last operation"
 TM_EDITREDO, "Redo operation"
 TM_EDITCOPY, "Copy selected terrain info"
 TM_EDITPASTEALL, "Paste all terrain info"
 TM_EDITPASTEHEIGHTS, "Paste height info only"
 TM_EDITPASTEMATERIALS, "Paste material info only"
 TM_FILESAVEAS, "Save terrain file"
 TM_FILELOADPALETTE, "Load palette file"
 TM_FILELOADMATERIALLIST, "Load material list"
 TM_EDITCLEARSELECTION, "Clear the current selection"
 TM_EDITGETSELECTION, "Get a named selection"
 TM_EDITFLOATSELECTION, "Float the current selection"
 TM_OPTIONSDISLAY, "Display options"
 TM_OPTIONSCOLORS, "Select colors for various parts"
 TM_SETTINGSGRIDSNAP, "Toggle grid-snapping"
 TM_EDITDELETESELECTION, "Delete a named selection"
 TM_EDITNAMESELECTION, "Name the current selection"
 TM_EDITSAVESELECTION, "Save a selection"
 TM_EDITLOADSELECTION, "Load and float a selection"
 TM_SETTINGSMISC, "Misc settings"
 TM_SETTINGSDISPLAY, "Display settings"
 TM_SETTINGSCOLORS, "Color settings"
 TM_BRUSHSNAP, "Toggle snap to detail level"
 TM_BRUSHFEATHER, "Toggle auto feathering when heights are changed"
 TM_BRUSHVALUEADJUSTHEIGHT, "Set the adjust height amount"
 TM_BRUSHVALUESETHEIGHT, "Set the setHeight value"
 TM_BRUSHVALUEMATERIALINDEX, "Set the material index used"
 TM_BRUSHVALUEFLAGMASK, "Set flag mask value"
 TM_BRUSHVALUEPASTEMASK, "Set paste mask value"
 TM_BRUSHVALUETERRAINTYPE, "Set the terrain type value"
 TM_BRUSHVALUEPINDETAIL, "Set the pin detail level"
 TM_BRUSHVALUESMOOTH, "Set smooth value"
 TM_MISCLANDSCAPER, "Run the landscaper"
 TM_MISCLISTCOMMANDS, "List all the commands"
 TM_MISCRELIGHT, "Relight the terrain"
 TM_MISCABOUT, "About ted"
 TM_BRUSHVALUESCALEFACTOR, "Set scale factor value"
 TM_MISCCLEARPINMAP, "Clear current grid block's pinned terrain"
}

IDM_TEDMENU ACCELERATORS 
{
 "Z", TM_EDITREDO, VIRTKEY, CONTROL, SHIFT
 "Z", TM_EDITUNDO, VIRTKEY, CONTROL
 "C", TM_EDITCOPY, VIRTKEY, CONTROL
 "V", TM_EDITPASTEALL, VIRTKEY, CONTROL
}

IDD_TEDDISPLAYOPTIONS DIALOG 0, 0, 178, 175
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_TOOLWINDOW
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Display options..."
FONT 8, "MS Sans Serif"
{
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 36, 152, 50, 14
 CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 100, 152, 50, 14
 CONTROL "Selection", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 4, 80, 64
 CONTROL "Frame", IDC_SELFRAMECHECKBOX, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 20, 35, 10
 CONTROL "Fill", IDC_SELFILLCHECKBOX, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 36, 24, 10
 CONTROL "Button7", IDC_SELFRAMECOLOR, "button", BS_OWNERDRAW | BS_CENTER | BS_FLAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 52, 20, 28, 12, 131072
 CONTROL "Button6", IDC_SELFILLCOLOR, "button", BS_OWNERDRAW | BS_CENTER | BS_FLAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 52, 36, 28, 12, 131072
 CONTROL "Hilight", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 92, 4, 80, 64
 CONTROL "Frame", IDC_HILIGHTFRAMECHECKBOX, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 100, 20, 35, 10
 CONTROL "Fill", IDC_HILIGHTFILLCHECKBOX, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 100, 36, 24, 10
 CONTROL "Button15", IDC_HILIGHTFRAMECOLOR, "button", BS_OWNERDRAW | BS_CENTER | BS_FLAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 136, 20, 28, 12, 131072
 CONTROL "Button14", IDC_HILIGHTFILLCOLOR, "button", BS_OWNERDRAW | BS_CENTER | BS_FLAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 136, 36, 28, 12, 131072
 CONTROL "Mouse Shadow", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 76, 80, 64
 CONTROL "Frame", IDC_SHADOWFRAMECHECKBOX, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 92, 35, 10
 CONTROL "Fill", IDC_SHADOWFILLCHECKBOX, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 108, 24, 10
 CONTROL "Button16", IDC_SHADOWFILLCOLOR, "button", BS_OWNERDRAW | BS_CENTER | BS_FLAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 52, 108, 28, 12, 131072
 CONTROL "Outline", IDC_SHADOWOUTLINECHECKBOX, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 124, 60, 12
 CONTROL "Outline", IDC_SELOUTLINECHECKBOX, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 52, 60, 12
 CONTROL "Outline", IDC_HILIGHTOUTLINECHECKBOX, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 100, 52, 60, 12
 CONTROL "Grid Block", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 92, 76, 80, 64
 CONTROL "Frame", IDC_BLOCKOUTLINECHECKBOX, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 100, 92, 35, 10
 CONTROL "Button17", IDC_BLOCKOUTLINECOLOR, "button", BS_OWNERDRAW | BS_CENTER | BS_FLAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 136, 92, 28, 12, 131072
 CONTROL "Button17", IDC_SHADOWFRAMECOLOR, "button", BS_OWNERDRAW | BS_CENTER | BS_FLAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 52, 92, 28, 12, 131072
}

IDD_ABOUTTED DIALOG 8, 7, 135, 106
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_CONTEXTHELP | WS_EX_TOOLWINDOW
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "About TED"
FONT 8, "MS Sans Serif"
{
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 44, 88, 50, 14
 CONTROL "Frame1", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 4, 4, 128, 72
 CONTROL "TED - Terrain Editor", -1, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 20, 24, 92, 8
 CONTROL "", IDC_ABOUTTEXT, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 36, 40, 60, 32
}


